<div class="container mx-auto px-4">
  <div id="splide" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {{#isArray slides}}
        {{#each slides}}
        <li class="splide__slide bg-white p-6 text-center">{{>slide items=this}}</li>
        {{~/each}}
        {{else}}
        {{#times slides}}
        <li class="splide__slide bg-white p-6 text-center">{{>card items=null}}
        </li>
        {{~/times}}
        {{/isArray}}
      </ul>
    </div>
  </div>
</div>