<header class="header{{navbar.headerClass}}">
  <div class="container{{navbar.containerClass}}">
    <div class="navbar{{navbar.navbarClass}}">
      <div class="navbar-start{{navbar.navbarStart}}">
        {{#if center.components.showMenu}}
        {{>dropdown menu}}
        {{/if}}
        {{>logo}}
      </div>
      <div class="navbar-center{{navbar.navbarCenter}}">
        {{#if center.components.showMenu}}
        {{>menu menu}}
        {{/if}}
        {{#if center.components.showContacts}}
        {{>list center.list}}
        {{/if}}
      </div>
      <div class="navbar-end{{navbar.navbarEnd}}">
        <a class="{{right.class}}">{{right.text}}</a>
        {{#if right.drawer}}
        <label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label>
        {{/if}}
      </div>
    </div>
  </div>
</header>