<div class="advantages">
  <h2 class="block-title">Почему выбирают нас</h2>
  <div class="avatar-cards">
    <div class="avatar-card">
      <div class="avatar-card__body">
        <div class="avatar">
          <h3 class="card-title-sm">Екатерина Романова, 26 лет</h3>
          <div class="avatar-image">
            <img src="/assets/img/avatars/avatar1.png" alt="Фото пользователя" />
          </div>
        </div>
        <div class="geography">
          <div><img src="/assets/img/avatars/geo.png" width="16" height="16" alt="значок гео-метки" /></div>
          <span>г. Улан-Батор</span>
        </div>
        <p class="avatar-text">
          Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис
          сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не
          важно, какая у вас кредитная история и имеются ли текущие просрочки.
        </p>
        <div class="avatar-rating">
          <div class="rating">
            <input type="radio" name="rating-1" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-1" class="mask mask-star bg-accent" checked />
            <input type="radio" name="rating-1" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-1" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-1" class="mask mask-star bg-accent" />
          </div>
        </div>
      </div>
    </div>
    <div class="avatar-card hidden md:flex">
      <div class="avatar-card__body">
        <div class="avatar">
          <h3 class="card-title-sm">Хонгорзул Баттулга, 33 года</h3>
          <div class="avatar-image">
            <img src="/assets/img/avatars/avatar2.png" alt="Фото пользователя" />
          </div>
        </div>
        <div class="geography">
          <div><img src="/assets/img/avatars/geo.png" width="16" height="16" alt="значок гео-метки" /></div>
          <span>г. Улан-Батор</span>
        </div>
        <p class="avatar-text">
          Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис
          сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не
          важно, какая у вас кредитная история и имеются ли текущие просрочки.
        </p>
        <div class="avatar-rating">
          <div class="rating">
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" checked />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
          </div>
        </div>
      </div>
    </div>
    <div class="avatar-card hidden lg:flex">
      <div class="avatar-card__body">
        <div class="avatar">
          <h3 class="card-title-sm">Бужиг Ганбат, 29 лет</h3>
          <div class="avatar-image">
            <img src="/assets/img/avatars/avatar3.png" alt="Фото пользователя" />
          </div>
        </div>
        <div class="geography">
          <div><img src="/assets/img/avatars/geo.png" width="16" height="16" alt="значок гео-метки" /></div>
          <span>г. Улан-Батор</span>
        </div>
        <p class="avatar-text">
          Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис
          сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не
          важно, какая у вас кредитная история и имеются ли текущие просрочки.
        </p>
        <div class="avatar-rating">
          <div class="rating">
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" checked />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions"><button class="common-button">Оформить заявку</button><button class="btn btn-outline btn-lg btn-accent">Все отзывы</button></div>
</div>
