<div class="content mb-4 w-full">
  <section class="{{sections.heroSec.class}} container mx-auto mb-4">{{>hero}}</section>
  <section class="{{sections.cardsSec.class}} container mx-auto mb-4 ">
    {{>section-title section=sections.cardsSec}}
    <div class="cards grid grid-card-3">
      {{>card card=images.cardImg}}
      {{>card card=images.cardImg}}
      {{>card card=images.cardImg}}
      {{>card card=images.cardImg}}
      {{>card card=images.cardImg}}
    </div>
  </section>
  <section class="{{sections.aboutSec.class}} container mx-auto mb-4 grid grid-cols-1 justify-center">
    {{>section-title section=sections.aboutSec}}
    <div class="flex justify-around">
      {{>picture image=images.aboutImg}}
      {{>dForm}}
    </div>
  </section>
  <section class="{{sections.sliderSec.class}} container mx-auto mb-4">
    {{>section-title section=sections.sliderSec}}
    {{>splide-slider}}
  </section>
  <section class="{{sections.priceSec.class}} container mx-auto mb-4">
    {{>section-title section=sections.priceSec}}
    <div class="cards flex justify-between">
      <div class="card">
        <div class="card-body">
          <ul class="card-list">
            {{>list items=list.items name=sections.priceSec.card.basic}} <!-- first arg = partial, second = name arg in partial + data key -->
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <ul class="card-list">
            {{>list items=list.items name=sections.price.card.standart}} <!-- first arg = partial, second = name arg in partial + data key -->
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <ul class="card-list">
            {{>list items=list.items name=sections.price.card.pro}} <!-- first arg = partial, second = name arg in partial + data key -->
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>