<div class="content mb-4">
  <div class="container mx-auto mb-4">{{>hero}}</div>
  <div class="container mx-auto mb-4 grid grid-card-3">
    {{>card}}
    {{>card}}
    {{>card}}
    {{>card}}
    {{>card}}
  </div>
  <div class="container mx-auto mb-4">
    {{>picture}}
  </div>
  <div class="container mx-auto mb-4">
    {{>splide-slider}}
  </div>
  <div class="container mx-auto mb-4">
    {{>list items=list.items}} <!-- first arg = partial, second = name arg in partial + data key -->
  </div>
</div>