<form action="/submit" method="post" class="{{form.formClass}}">
  {{#if form.fields.Name}}
  <div class="form-control {{form.controlClass}}">
    <!-- <label for="name" class="label">
      <span class="label-text">{{form.placeholder.name}}</span>
    </label> -->
    <input id="name" name="name" type="text" class="input input-bordered w-full"
      placeholder="{{form.placeholder.name}}" />
  </div>
  {{/if}}

  {{#if form.fields.Phone}}
  <div class="form-control {{form.controlClass}}">
    <!-- <label for="name" class="label">
      <span class="label-text">{{form.placeholder.name}}</span>
    </label> -->
    <input id="phone" name="phone" type="text" class="input input-bordered w-full"
      placeholder="{{form.placeholder.phone}}" />
  </div>
  {{/if}}

  {{#if form.fields.Email}}
  <div class="form-control {{form.controlClass}}">
    <label for="email" class="label">
      <span class="label-text">Email</span>
    </label>
    <input id="email" name="email" type="email" class="input input-bordered w-full" placeholder="{{form.placeholder.email}}" />
  </div>
  {{/if}}

  {{#if form.fields.check}}
  <div class="form-control {{form.controlClass}}">
    <label class="cursor-pointer label">
      <span class="label-text">Согласие с условиями</span>
      <input type="checkbox" class="checkbox" />
    </label>
  </div>
  {{/if}}

  {{#if form.fields.radio}}
  <div class="form-control {{form.controlClass}}">
    <span class="label-text">Выберите опцию:</span>
    <label class="cursor-pointer label">
      <input type="radio" name="option" value="1" class="radio" />
      <span class="label-text">Опция 1</span>
    </label>
    <label class="cursor-pointer label">
      <input type="radio" name="option" value="2" class="radio" />
      <span class="label-text">Опция 2</span>
    </label>
  </div>
  {{/if}}

  {{#if form.fields.select}}
  <div class="form-control {{form.controlClass}}">
    <label for="select" class="label">
      <span class="label-text">Выберите значение</span>
    </label>
    <select id="select" name="select" class="select select-bordered w-full">
      <option disabled selected>Выберите</option>
      <option>Опция 1</option>
      <option>Опция 2</option>
    </select>
  </div>
  {{/if}}

  {{#if form.fields.rating}}
  <div class="form-control {{form.controlClass}}">
    <label class="label">
      <span class="label-text">Рейтинг</span>
    </label>
    <div class="rating">
      <input type="radio" name="rating" class="mask mask-star-2 bg-yellow-400" />
      <input type="radio" name="rating" class="mask mask-star-2 bg-yellow-400" />
      <input type="radio" name="rating" class="mask mask-star-2 bg-yellow-400" />
      <input type="radio" name="rating" class="mask mask-star-2 bg-yellow-400" />
      <input type="radio" name="rating" class="mask mask-star-2 bg-yellow-400" />
    </div>
  </div>
  {{/if}}

  {{#if form.fields.toggle}}
  <div class="form-control {{form.controlClass}}">
    <label class="label cursor-pointer">
      <span class="label-text">Запомнить меня</span>
      <input type="checkbox" class="toggle" checked="checked" />
    </label>
  </div>
  {{/if}}

  {{#if form.fields.button}}
  <div class="form-control {{form.controlClass}}">
    <button type="submit" class="{{form.submit.class}}">{{form.submit.text}}</button>
  </div>
  {{/if}}
</form>